

.Signup-form{
    display: flex
    ;
        align-items: center;
        flex-direction: column;
}

.continar1{
    padding: 15px 30px 17px;
    height: 602px;
    margin-top: 95px;
    background: white;
    margin-bottom: 48px;
}

.froms input{
    height: 67px;
    width: 389px;
    margin-top: 22px;    
    border: 2px solid rgb(166 158 219);

    text-align: center;
}


form button{
    height: 50px;
    width: -webkit-fill-available;
    margin-bottom: 30px;
    margin-top: 23px;
    border: 2px solid darkslateblue;
    /* margin-left: 87px; */
    background: lavender;
    font-size: 29px;
}



form p{
    margin-left: 73px;
    margin-top: 12px;
    font-size: 23px;
}

form a{
    text-decoration: none;
    color: darkslateblue;
}

@media (max-width: 489px) {
    .froms input {
        height: 67px;
        width: 327px;
        margin-top: 22px;
        border: 2px solid rgb(166 158 219);
        text-align: center;
    }
    .continar1 {
        padding: 15px 12px 17px;
        height: 595px;
        margin-top: 79px;
        margin-bottom: 45px;
        background: white;
    }

    form p {
        margin-left: 41px;}
}