.banner{
    display: flex
    ;
    height: 688px;
    flex-wrap: wrap;
    width: auto;
    background-color: #f5e6eb;
    flex-direction: column;
    margin-top: -1px;
}

.arrow img{
    height: 45px;
}
.hand img{
    height: 143px;
    margin-right: 1152px;
    transform: translate3d(-5px, 52px, -28px);
}
.banner h1,h2{
    font-size: 69px;
    font-weight: 900;
    margin-left: 40px;
    margin-top: 26px;
    margin-bottom: 30px;
}
.banner button{
    background: #f4d6f6;
    border-radius: 80px;
    width: 354px;
    margin-top: 17px;
    font-size: 24px;
    height: 73px;
    font-weight: 600;
    border: 2px solid black;
}

.banner button:hover{
    background-color: #e5baf8;
    border: 2px solid #5925c4;
    color: #f5e6eb;
    transition: all 1s ease-in-out;
}
.popular{
    display: flex
    ;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
       
}

.popular-item img{
    height: 367px;

}

.popular-item{
    display: flex;
    flex-direction: row;
    gap: 41px;
    margin-top: 50px;
    flex-wrap: wrap;
   align-items: center;
   
}

.item{
    width: 313px;
}

.photo img{
    margin-left: -593px;
    height: 606px;
    margin-top: 52px;
}

.faq_subtitle{
    color: orangered;
    font-weight: 900;
}

.faq_title{
    margin-top: 23px;
    margin-bottom: 88px;
    font-size: 23px;
    
}

.accordion-button{
    border: none;
    font-size: 19px;
    font-weight: 600;
    display: flex;
    background: none;
}

.accordion-button:hover{
    cursor: pointer;
    color: orangered;
}

.accordion-button .fa{
    margin-left: 12px;
}

.accordion-body{
    display: none;
    font-weight: 600;
    width: 568px;
}

.row4{
    display: flex
;
    flex-direction: row;
    margin-left: 19px;
    margin-top: 41px;
    margin-right: -167px;
    align-items: stretch;
    flex-wrap: wrap;
    
}
.row2{
    display: flex;
    flex-direction: row;
    margin-left: 19px;
    margin-top: -77px;
    margin-right: -167px;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -104px;
}

.imges-one{
    max-width: 78%;
    height: 414px;
    margin-right: 194px;
    margin-top: -83px;
    margin-bottom: 171px;
    animation: scroll 2.5s linear infinite;
    border-radius: 37px;
}


@media (max-width: 998px){

    .banner h1, h2 {
        font-size: 35px;
        font-weight: 800;
        margin-left: 29px;
    }
    .hand img {
        height: 107px;
        margin-right: 160px;
        transform: translate3d(0px, 42px, -64px);
    }

    .banner button {
        background: #f4d6f6;
        border-radius: 80px;
        width: 254px;
        margin-top: 17px;
        font-size: 24px;
        height: 57px;
        font-weight: 500;
        margin-left: 42px;
        border: 2px solid black;
    }
    .arrow img {
        height: 23px;
    }
    .banner {
        
        height: 815px;
        flex-wrap: wrap;
        width: auto;
        background-color: #f5e6eb;
        flex-direction: column;
        margin-top: 37px;
    }

    .photo img {
        margin-left: -404px;
        height: 382px;
        margin-top: 449px;
    }
    .accordion-body{
        display: none;
        width: 361px;
        font-weight: 600;
    } 
    
    .col-sm-12{
    width: 273px;
    }
    .faq_title {
        margin-top: 23px;
        margin-bottom: 88px;
        font-size: 23px;
    }

    .row4 {
        margin-top: 51px;
}

.imges-one {
    height: 309px;
    margin-bottom: 66px;
    margin-top: 52px;
}

}